@use 'variables.scss' as v;

.fad {
    padding: 40px 100px;
}

.fact-container {
    margin-bottom: 10px;
}

.fact {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.fact-interactive {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border 0.5s;
}

.fact-interactive:hover {
    /* border: 1px solid var(--color-rtg-pink); */
    color: v.$primaryColor;
}

.description {
    font-size: 20px;
    padding-left: 30px;

    max-height: fit-content;
    overflow: hidden;
    transition: max-height 0.5s;
}

.description-hidden {
    max-height: 0px;
}

.description-visible {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: fit-content;
}