@use 'variables.scss' as v;
@use 'helpers.scss'as h;


.social-container {
    @include h.center();
    flex-direction: row;
    gap: 40px;
    padding: 30px;
}

.social-container a {
    text-decoration: none;
}


.social-image {
    width: 40px;
    height: 40px;
}



