$primaryColor: #c2540b;
$secondaryColor: #ff9939;
$footerColor: rgb(187, 176, 176);
$alternateTextColor: #ffff;
$videoBackgroundColor: #a09765;
$fontSizeTitle: 44px;
$fontSizeHeading: 40px;
$fontSizeIntro: 30px;
$fontSizeQuote: 24px;
$fontSizeFooter: 14px;